<div id="select-item-box">
  <a class="add-new-asset" href="#">Add a New Asset</a>
  <ul id="select-item-list">
    <li>
      <%= link_to 'Add Content', new_generic_content_path, :class => 'create_asset' %>
      <%= link_to 'Add Set', new_structural_set_path, :class => 'create_asset' %>
    </li>
  </ul>
</div>      